@{
    ViewData["Title"] = "New";
}

@model FundamentosCsharpTp3.Models.Person

<h1>Criar Novo Aniversariante</h1>

@using (Html.BeginForm(actionName: "Save", controllerName: "FullBirthdays", FormMethod.Post))
{
    <div class="form-group">
        <label for="txtName">Nome?</label>
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="form-group">
        <label for="txtSurname">Sobrenome?</label>
        @Html.TextBoxFor(x => x.SurName)
        @Html.ValidationMessageFor(x => x.SurName)
    </div>
    <div class="form-group">
        <label for="txtDate">Data de Aniversário?</label>
        @Html.EditorFor(x => x.Birthday)
        @Html.ValidationMessageFor(x => x.Birthday)
    </div>
    <button type="submit" class="btn btn-primary">Criar novo Aniversariante</button>
}