@{
    ViewData["Title"] = "Index";
}

@model IEnumerable<FundamentosCsharpTp3.Models.Person>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<h1>Aniversariantes do dia</h1>
<table width="100%" border="1">
    <thead>
    <tr>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        if (person.NextBirthday.Date == DateTime.Now.Date)
        {
            <tr>
                <td>@person.Name @person.SurName</td>
            </tr>   
        }
    }
    </tbody>
</table>

<br/>
<br/>
<br/>

<h1>Aniversariantes</h1>
<table width="100%" border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Próximo Aniversário</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.Name @person.SurName</td>
            <td>@person.NextBirthday.Date</td>
        </tr>
    }
    </tbody>
</table>